@model ProductsCategoriesViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index2</title>
    <style>
        #header {
            width: 900px;
            height: 100px;
            border-radius: 20px;
            background: red;
            padding: 20px;
            margin-bottom: 10px;
        }
        .banner {
            width: 900px;
            height: 100px;
            border-radius: 20px;
            padding: 20px;
            margin-bottom: 10px;
        }
        .topbanner {
            background: green;
        }
        .bottombanner {
            background: red;
        }
        .defaultbanner {
            background: yellow;
        }
        #menu {
            width: 200px;
            height: 300px;
            border-radius: 20px;
            background: blue;
            padding: 20px;
            float: left;
        }
        #content {
            width: 650px;
            height: 300px;
            border-radius: 20px;
            background: blue;
            padding: 20px;
            margin-left: 10px;
            float: left;
        }
        #footer {
            width: 900px;
            height: 90px;
            border-radius: 20px;
            background: blue;
            padding: 20px;
            margin-top: 10px;
        }
        ul {
            list-style-type: none;   
        }
        a {
            background-color: blue;
            color: white;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div id="header">
        Layout 1
    </div>

    @RenderSection("TopBanner", false) @*2. parametre zorunlu olup olmadığını gösteriyor. Index2.cshtml'de bu section kullanılmazsa ve 2. parametre false olmazsa hata verir. *@

    @*<partial name="_Menu" for="@Model.Categories">*@
    @await Component.InvokeAsync("Menu")    

    <div id="content">
        @RenderBody()
    </div>
    <div style="clear:both;"></div>

    @if (IsSectionDefined("BottomBanner"))
    {
        @RenderSection("BottomBanner")    
    }
    else 
    {
        <div class="banner defaultbanner">
            Default Banner
        </div>
    }

    <div id="footer">
        Footer
    </div>
</body>
</html>